<article>
  <header>
    <h1>Welcome to FBRBuilds!</h1>
    <button class="close" onclick={{action 'dismissWelcome'}}>x</button>
  </header>
  <p>
  with FBRBuilds,  our mission is to faciliate the swift and efficient reporting of damaged real estate properties and public infrastructure  in the aftermath of Hurrican Helene. We aim to support the restoration of properties and infrastructures by providing a platform for community members to report damages and track repair/development project progress. Our platform allows residents to easily report properties damaged through Hurrican Helene whether owned or belong to others, as well as public infrastructures such as roads, bridges, public facilities. By collecting and organizing this information, we help your metropolitan organizations to prioritize repairs and allocate reources effectively. It is also your Metropolitan Planning Organization’s collaborative inventory of past, present and future real estate development projects. This tool provides governments, data analysts, urban planners, community advocates, and real estate developers with comprehensive data for thousands of projects across 5 counties in North Carolina, including Buncombe County, Haywood County, Henderson County, Madison County, and Transylvania County.
  </p>
  <div class="button-row">
    {{link-to 'Learn more' 'about'}}
    <button class="styled" onclick={{action 'dismissWelcome'}}>
      Continue to fbrbuilds
    </button>
  </div>
</article>
